



html {
  scroll-behavior: smooth;
}


h6 {
    font-family: sans-serif;
    font-weight: bold;
    font-size: 1.2rem;
    color: #333;
    transition: all 0.3s ease;
    cursor: pointer;
  }
  
  h6:hover {
    color: teal;

    background-color: rgba(0, 128, 128, 0.1);
 transform: scale(1.1);
 transition: 0.5s;
    /* border-bottom: 1px solid teal; */
  }
  #arrow_upward{
    position: fixed;
    bottom: 60px;
    right: 100px;
  }
  